<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <!-- baris 1 -->
      <div class="container" style="background-color:lavender;">
        <br>
        <input type="text" class="m-3 form-control" placeholder="Search by title" [(ngModel)]="title" />
        <div class="container2">
          <i class="center">
            <button class="m-3 btn btn-info" (click)="retrieveTutorials()">
              <i class="fa fa-search"> Search</i>
            </button>
            <button routerLink="/add" class="m-3 btn btn-success">
              <i class="fa fa-plus-square"> Add Item</i>
            </button>
            <button class="m-3 btn btn-danger" (click)="removeAllTutorials()">
              <i class="fa fa-trash"> Remove</i>
            </button>
          </i>
        </div>
      </div>

      <!-- baris 2 -->
      <div class="container" style="background-color:lavenderblush;">
        <div class="container row mt-5 align-items-center">
          <div class="m-3 card text-white bg-dark mb-3" *ngFor="let tutorial of tutorials | paginate : {
                 itemsPerPage: pageSize,
                    currentPage: page,
                    totalItems: count
                  };
            let i = index
          " [class.active]="i == currentIndex" (click)="setActiveTutorial(tutorial, i)">
            <div class="m-3 card-body">
              <h5 class="card-title">{{ tutorial.title }}</h5>

              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Detail</button>
            </div>
          </div>
        </div>

        <div class="container m-3">
          <div class="row mt-2"><select (change)="handlePageSizeChange($event)">
              <option class="card-columns" *ngFor="let size of pageSizes" [ngValue]="size">
                {{ size }}
              </option>
            </select>
            <pagination-controls class="card-columns" previousLabel="Prev" nextLabel="Next" responsive="true"
              (pageChange)="handlePageChange($event)">
            </pagination-controls>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>

  <div class="modal" id="myModal">
    <div class="modal-dialog" *ngIf="currentTutorial">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <p><label><strong>Title:</strong>
            </label> {{ currentTutorial.title }}</p>

          <p><label><strong>Description:</strong></label>
            {{ currentTutorial.description }}</p>

          <p><label><strong>Status:</strong></label>
            {{ currentTutorial.published ? "Published" : "Pending" }}</p>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <a class="btn btn-warning" routerLink="/tutorials/{{ currentTutorial.id }}">
            <i class="fa fa-pencil"></i> Edit
          </a>
        </div>

      </div>
    </div>
  </div>

</body>

</html>