<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
  <a class="w3-bar-item w3-button"><b></b></a>
  <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <div class="w3-display-middle w3-margin-top w3-center">
      <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>HAPPY</b></span> <span
          class="w3-hide-small w3-text-light-blue"> <b> SHOPPING</b><a class="glyphicon glyphicon-shopping-cart"></a>
        </span></h1>
    </div>
  </header>
  <br>
  <br>
  <hr>

  <div class="w3-display-container w3-content w3-wide">
    <div class="col-md-4 mb-4" *ngFor="let item of items">
      <div class="card text-white bg-dark mb-4" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><span class="label label-danger">{{item.nama}}</span></h5>
          <hr>
          <p class="card-text">Rp. {{item.berat}}</p>
          <p class="card-text">{{item.description}}</p>
        </div>
        <br>
      </div>
    </div>
  </div>
</body>

</html>